<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RTGApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="RTGApp.Properties.Settings.TerminalDataConnectionString"
            connectionString="Data Source=192.6.8.52;Initial Catalog=TerminalData;Persist Security Info=True;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><applicationSettings>
        <RTGApp.Properties.Settings>
            <setting name="LogPath" serializeAs="String">
                <value>\\broadcaST\Logs\RTG\</value>
            </setting>
        </RTGApp.Properties.Settings>
    </applicationSettings>
</configuration>
