<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ForkliftApp.DataEntities.Properties.Settings.TerminalDataConnectionString"
            connectionString="Data Source=SQLSRV;Initial Catalog=TerminalData;User ID=sa;Password=3334606"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>