<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ForkliftApp.Properties.Settings.TerminalDataConnectionString" connectionString="Data Source=192.6.8.52;Initial Catalog=TerminalData;Persist Security Info=True;User ID=sa;Password=z3334606*" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>