<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="RTGApp.Properties.Settings.TerminalDataConnectionString"
            connectionString="Data Source=192.6.8.52;Initial Catalog=TerminalData;Persist Security Info=True;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>